// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary : #0f2a4c;
$secondary : #f2c037;
$accent : #245b8f;

$dark : #1e1e21;

$positive : #21BA45;
$negative : #C10015;
$info : #b0ced4;
$warning : #ff9ea1;

$BleurReseaux : #0F2A4C;
$OrangeReseaux : #E4A123;
